<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN" monitorInterval="30">

    <!--[DOCUMENTATION] https://logback.qos.ch/manual/appenders.html-->

    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %5p [-,%X{traceId},%X{spanId},] ${hostName} --- [%15.15t] %-40.40c{1.} : %m%n%ex</pattern>
        </encoder>
    </appender>

    <appender name="FILE_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/var/logs/PROGUARD-DEMO/PROGUARD-DEMO.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/var/logs/PROGUARD-DEMO/PROGUARD-DEMO.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>1</maxHistory>
            <totalSizeCap>10MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %5p [-,%X{traceId},%X{spanId},] ${hostname} --- [%15.15t] %-40.40c{1.} : %m%n%ex</pattern>
        </encoder>
    </appender>

    <!--<appender name="REMOTE_FILE" class="ch.qos.logback.classic.net.SocketAppender">
        <remoteHost>${host}</remoteHost>
        <port>${port}</port>
        <reconnectionDelay>10000</reconnectionDelay>
        <includeCallerData>${includeCallerData}</includeCallerData>
    </appender>-->

    <!--<appender name="SERVER"
              class="ch.qos.logback.classic.net.server.ServerSocketAppender">
        <port>${port}</port>
        <includeCallerData>${includeCallerData}</includeCallerData>
    </appender>-->

    <!--<appender name="EMAIL" class="ch.qos.logback.classic.net.SMTPAppender">
      <smtpHost>${smtpHost}</smtpHost>
      <to>${to}</to>
      <from>${from}</from>
      <layout class="ch.qos.logback.classic.html.HTMLLayout"/>
    </appender>-->

    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE_APPENDER" />
        <!--<appender-ref ref="REMOTE_FILE" />-->
        <!--<appender-ref ref="SERVER" />-->
        <!--<appender-ref ref="EMAIL" />-->
    </root>

    <logger name="org.springframework.web" level="DEBUG"/>
</configuration>
